.send-code{
    .code{
        font-family: PingFangSC-Regular;
        font-size: 0.6rem;
        color: #689EFD;
        line-height: 0.8rem;
        border:1px solid #689EFD;
        background: #fff;
        border-radius: 0.2rem;
        padding:0.25rem 0.3rem;
    }
    .coding{
        font-size: 0.6rem;
        color: #FFFFFF;
        line-height: 0.8rem;
        text-align: center;
        border:none;
        background: #ccc;
        border-radius: 0.2rem;
        padding:0.25rem 0.3rem;
    }
}
