.city-group {
    .city-group-item {
        border-top: 0.4rem solid #e4e4e4;
        .city-first-name {
            color: #666;
            font-weight: 400;
            text-indent: 0.45rem;
            border-top: 2px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            font: 0.55rem/1.45rem "Helvetica Neue";
    
        }
        .city-first-tip {
            font-size: 0.475rem;
            color: #999;
        }
        .city-children-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .city-children-item{
                flex-basis: 25%;
                box-sizing: border-box;
                text-align: center;
                color: #666;
                border-bottom: 0.025rem solid #e4e4e4;
                border-right: 0.025rem solid #e4e4e4;
                height: 1.75rem;
                font: 0.6rem/1.75rem "Microsoft YaHei";
                overflow: hidden;
                display: block;
            }
        }
    }


}