.location{
    .tip{
        display: flex;
        align-items: center;
        div:first-child{
            font-size: 0.55rem;
            color: #666;
        }
        div:last-child{
            font-weight: 900;
            font-size: 0.475rem;
            color: #9f9f9f;
        }
    }
}